*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
#titulo{
    position:relative; top:30px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke  }
#cabecera{
    background-color: green;
    height: 125px;
}
#contenedor{
    margin-top: 100px;
    position: absolute;
    left: 25%;
    background-color: green;
    width: 700px;
    height: 400px;
    border-radius: 50px;
}
 #tabla{
     width: 85%;
    position: relative;
    left: 7%;
    top: 30%;
}

#contenedor td{
    color: whitesmoke;
}
